---
import Image from "astro/components/Image.astro";
import SharedLayout from "./SharedLayout.astro";
import Prose from "../components/Prose.astro";

const { frontmatter } = Astro.props;
---

<SharedLayout pageTitle = {frontmatter.title}>
    <a class="back btn btn-outline my-4 absolute top-0 md:left-16" href="/"
        >Back to Resume</a
    >
    <h1 class="text-3xl font-extrabold tracking-tighter md:text-3xl relative mb-4 text-center">{frontmatter.title}</h1>
    <h3 class="text-2xl tracking-tighter md:text-2xl relative mb-4 text-center">{frontmatter.subtitle}</h3>
    <div class="image-container">
        <Image
            src={frontmatter.preview_image_url}
            alt={frontmatter.title}
            width="100"
            height="100"
            class="w-full h-auto border-2 shadow-md"
        />
    </div>
    <Prose>
      <div class="text-black text-base">
        <slot />
      </div>
    </Prose>

    
    {Array.isArray(frontmatter.techstack) && (
        <h6 class="mt-4">Techstack:</h6>
        <div class="flex flex-wrap content-around gap-2 my-4">
          {frontmatter.techstack.map((item) => (
            <span class="badge text-center inline-block align-middle w-max h-max text-sm  badge-outline shadow-md mb-1" :key={item}>{item}</span>
          ))}
        </div>
      )}
</SharedLayout>
